@font-face {
  font-family: "iconfont"; /* Project id 3366524 */
  src: url('iconfont.woff2?t=1651339232411') format('woff2'),
       url('iconfont.woff?t=1651339232411') format('woff'),
       url('iconfont.ttf?t=1651339232411') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxue:before {
  content: "\e67f";
}

.icon-yujiaxue:before {
  content: "\e680";
}

.icon-zhenyu:before {
  content: "\e643";
}

.icon-duoyun-3:before {
  content: "\e67a";
}

.icon-duoyun:before {
  content: "\e67b";
}

.icon-zhongyu:before {
  content: "\e67c";
}

.icon-xiaoyu:before {
  content: "\e67d";
}

.icon-qing:before {
  content: "\e67e";
}

.icon-github:before {
  content: "\e673";
}

.icon-food-mochi:before {
  content: "\e613";
}

.icon-food-pistachio:before {
  content: "\e614";
}

.icon-food-cookie:before {
  content: "\e601";
}

.icon-food-pecan:before {
  content: "\e602";
}

.icon-food-avocado:before {
  content: "\e603";
}

.icon-food-pudding:before {
  content: "\e604";
}

.icon-food-strawberry:before {
  content: "\e605";
}

.icon-food-doughnut:before {
  content: "\e606";
}

.icon-food-chips:before {
  content: "\e607";
}

.icon-food-popcorn:before {
  content: "\e608";
}

.icon-food-bread:before {
  content: "\e609";
}

.icon-food-pizza:before {
  content: "\e60a";
}

.icon-food-hotdog:before {
  content: "\e60b";
}

.icon-food-taco:before {
  content: "\e60c";
}

.icon-food-popsicle:before {
  content: "\e60d";
}

.icon-food-eggyolkcake:before {
  content: "\e60e";
}

.icon-food-sushi:before {
  content: "\e60f";
}

.icon-food-cake:before {
  content: "\e610";
}

.icon-food-macaron:before {
  content: "\e611";
}

.icon-food-cashew:before {
  content: "\e612";
}

